{% extends "body.html" %}
{% load i18n %}
{% load fbc %}

{% block neo_meta %}
<link rel="stylesheet" href="{{STATIC_URL}}forum/static/forum.css" type="text/css" />
{{ block.super }}
{% endblock %}

{% block neo_title %}{% trans "Add Post:" %} {{ topic.name }}{% endblock %}

{% block neo_script %}
<script src="{{STATIC_URL}}bootstrap3/js/jquery-1.11.1.min.js"></script>

<!--jquary+ajax-->
 <script type="text/javascript" charset="utf-8">
  function calcuteVertifyCode(){
      $.post("{% url 'app.ajax.calcuteVertifyCode'%}", function(ret) {  
          //alert("Data: " + ret);
          // $("#vertify").html("<img id='verticode' class='img-responsive' src='this.src=ret' width='145' height='30' alt='CAPTCHA' border='1' onclick= 'calcuteVertifyCode()' style='cursor: pointer;' title='看不清？点击更换另一个验证码' />");
          //$('#verticode').attr("src",ret);   
          document.getElementById("verticode").src=ret;
      });  
}
     
     
 $('html').ajaxSend(function(event, xhr, settings) {  
        function getCookie(name) {  
            var cookieValue = null;  
            if (document.cookie && document.cookie != '') {  
                var cookies = document.cookie.split(';');  
                for (var i = 0; i < cookies.length; i++) {  
                    var cookie = jQuery.trim(cookies[i]);  
                    // Does this cookie string begin with the name we want?  
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {  
                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));  
                       break;  
                   }  
               }  
           }  
           return cookieValue;  
       }  
       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {  
           // Only send the token to relative URLs i.e. locally.  
           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));  
       }  
   });  
</script>

{% endblock %}

{% block neo_crumb %}<a href="/app/">{% trans "Home" %}</a> > <a href="{% url 'forumapp.diamandas.myghtyboard.views.category_list' %}">{% trans "Forum Index" %}</a> > <a href="{% url 'forumapp.diamandas.myghtyboard.views.topic_list' forum.id %}">{{ forum.name }}</a> > <a href="{% url 'forumapp.diamandas.myghtyboard.views.post_list' topic.last_pagination_page topic.id %}">{{ topic.name }}</a>{% endblock %}

{% block neo_content %}
<form method="post" action="{% url 'forumapp.diamandas.myghtyboard.views_add_edit.add_post' topic.id %}" class="form-horizontal" role="form">{% csrf_token %}
<div class="postform">
     <div class="form-group">
         <div class="col-sm-2"></div>
         <div class="col-sm-10">
           {% trans "Add New Post" %}
         </div>
	    </div>
    
	{% if not user.is_authenticated %}
     <div class="form-group">
         <label for="inputTitle" class="col-sm-2 control-label">{% trans "Nick" %}</label>
         <div class="col-sm-10">
            {{ form.nick }}{% if form.nick.errors %}<br />*** {{ form.nick.errors|join:", " }}{% endif %}
         </div>
	    </div>
	{% endif %}
    <div class="form-group">
         <label for="inputTitle" class="col-sm-2 control-label">{% trans "Content" %}</label>
         <div class="col-sm-10">
            <a name="c"></a>
	      <textarea name="text" rows="6" cols="60">{{ text }}</textarea>
			<div><b>{% trans "Available Tags" %}</b>: [b], [u], [i], [code]. [python], [php], [url], [img], [quote].<br />
			{% trans "Use <b>[code] or [python], [php]</b> for code and config text pasting." %}</div>
         </div>
	</div>
	{% if form.recaptcha %}
	  <div class="form-group">
          <div class="col-sm-2"></div>
	     <div class="col-sm-2" id='vertify'>
    <img id='verticode' class="img-responsive" src="{{ captcha }}" width="145" height="30" alt="CAPTCHA" border="1" onclick= "calcuteVertifyCode()" style="cursor: pointer;" title="看不清？点击更换另一个验证码" />
       </div>
          <div class="col-sm-8">	
		  		{{ form.recaptcha }}{% if form.recaptcha.errors %}<div class="errmsg">{{ form.recaptcha.errors|join:", " }}</div>{% endif %}
	  		</div>
	  </div>
	{% endif %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">	
            <input type="submit" value="{% trans "Add post" %}" class="submit btn btn-default" />
		</div>
	</div>
    </div>
</form>


<h2>{% trans "Last 10 posts from topic" %}</h2>
{% if lastpost %}

{% for i in lastpost %}
	<div class="post">
		    <div class="posthead">{{ i.date|date:"d.m.Y" }}</div>
		    <div class="leftpost">
			      <strong>{{ i.author}}</strong>
		    </div>
		    <div class="rightpost">
			      {{ i.text|fbc|safe|urlizetrunc:"60" }}
		    </div>
	</div>
	<br />
	{% endfor %}

{% endif %}
{% endblock %}
