{% extends "body.html" %}
{% load i18n %}

{% block neo_title %}
{% trans "Password change done" %}
{% endblock %}

{% block neo_content %}
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4">
      <h2> <span class="label label-danger">{% trans "Change Password" %}</span></h2>
    </div>
  <div class="col-xs-8 col-sm-8col-md-8"></div>
</div>
<br/>

<div style="box"><b>{% trans "Password have been changed succesfuly" %}</b>. <a href="/">{% trans "Go to Main Page" %}</a>.</div>
{% endblock %}
{% block neo_crumb %}<a href="/app/">{% trans "Home" %}</a> > <a href="/neoforum/user/">{% trans "User Panel" %}</a>{% endblock %}
{% block on_user %} id="current"{% endblock %}