{% extends "body.html" %}
{% load i18n %}
{% block neo_title %}{% trans "Password reset form" %}{% endblock %}

{% block neo_content %}

<h3>{% trans "Password reset" %}</h3>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

<form action="./" method="post" class="form-horizontal">{% csrf_token %}
{% if form.email.errors %}{{ form.email.errors }}{% endif %}
    
     <div class="form-group">
         <label for="id_email" class="col-sm-4 control-label">{% trans 'E-mail address:' %}</label>
    <div class="col-sm-8"> 
        {{ form.email }} 
        </div>
  </div>
    
    <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
        <input type="submit" value="{% trans 'Reset my password' %}" class="btn btn-primary"/>
    </div>
  </div>
    
    
</form>

{% endblock %}
{% block neo_crumb %}<a href="/app/">{% trans "Home" %}</a> > <a href="/neoforum/user/">{% trans "User Panel" %}</a>{% endblock %}
{% block on_user %} id="current"{% endblock %}